.IconContainer {
    width: 1em;
    height: 40px;
    cursor: pointer;
    padding: 0em 1px 0.15em 0em;
    display: flex;
    align-items: center;

}

.IconContainer svg {
    display: block;
    margin: 0;
    height: 1em;
    background-color: transparent;
    color: var(--primary-strong);
}

.IconContainer svg:hover, .IconContainer svg:active {
    color: var(--primary-color);
}

.IconContainer:hover {
    color: var(--primary-color);
    border-radius: .2em;
}

.IconContainer:active {
    color: var(--primary-color);
}

.Disabled {
    cursor:not-allowed;
}