.Container {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 14px 2px #0003;
  margin: .5em 0em;
  border-radius: .8em;
  padding: 1em;
  }

.PowerCategoryTitle {
  text-transform:capitalize;
}

.PowerValueEdit {
  display: flex;
  flex-direction: row;
}

.PowerValueEdit input {
  width: 2em;
  margin-right: 8em;
}

.PowerCategoryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.PowerCategoryHeader :last-child {
  margin-left: auto;
}

.Container svg {
  width: 1em;
  height: 1em;
}

.PowerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;
}

.PowerName {
  flex-grow: 1;
  margin-right: 10px;
}

.PowerValue {
  width: 10em;
  margin-right: 5px;
  margin-left: auto;
  display: flex;
  gap: 2em;
}

.PowerValue :last-child {
  width: 7em;
}

.PowerValue :first-child {
  width: 2em;
}

.PowerDescription {
  font-weight: 200;
  margin-left: 5%;
  margin-bottom: 1em;
  font-weight: 200;
}

.PowerDescription input {
  width: 80%;
  font-weight: 200;
}