.SkillBlocks {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.SkillsTable {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.CharacterHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.UploadDownload {
    display: flex;
    gap: 1em;
    align-items: end;
}